#map {
height: 600px;
width: 600px;
}
.preview-img {
height: 100px;
}
.yelp-logo {
    height: 50px;
}
.icons {
height: 20px;
}
.incorrect-input{
    display: none;
}
.incorrect-input.revealed{
    display: inline;
}
#disclaimer{
    font-style: italic;
}