{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="well bs-component">
          <h1>About SNAPPy Finder</h1>
          <p>SNAPPy Finder is a tool designed to make it easier for users to find retailers near them that accept SNAP/EBT as a form of payment, and to obtain additional information about those retailers, in one centralized location. Users can let the app find their location for them or manually enter in a target address, and then specify a search range limit. The app will return a list of nearest retailers and show their corresponding locations on a map, and will provide basic information about the retailer. Users can click on any result to get more information in the form of total Yelp rating and Yelp review snippets. Users can send themselves a link to the Yelp business listing for any result via email or SMS.</p>
          <p>Technology Stack: PostgreSQL, Python, SQLAlchemy, Flask, Jinja, Javascript, AJAX, JQuery, JSON, HTML, CSS, Bootstrap, Regex</p>
          <p>APIs used: Google Maps JavaScript API, Google Maps Geocoding API, Yelp Fusion API, Twilio</p>
          <p><a href="https://github.com/jabrabec/Hackbright-project_SNAPPy-Finder"
           target="_blank"><img src="/static/img/GitHub-Mark-16px.png">
           SNAPPy Finder</a></p>
          <p>About the developer:</p>
          <p><a href="http://www.jenniferbrabec.com" target="_blank">Jennifer Brabec</a></p>
          <p><a href="https://www.linkedin.com/in/jenniferbrabec"
           target="_blank"><img src="/static/img/LinkedIn_Logo-2C-14px.png"></a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}



<script src="https://platform.linkedin.com/in.js"
          type="text/javascript"></script><script type="IN/MemberProfile"
          data-id="https://www.linkedin.com/in/jenniferbrabec"
          data-format="click" data-related="false" data-text="Jennifer Brabec">
          </script>