<!doctype html>
<html>
<head>
  <title>{% block title %}EBT/SNAP Database{% endblock %} </title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  {% block head %}
    <!-- insert any additional JS/CSS here -->
  {% endblock %}
</head>

<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  EBT/SNAP Finder
  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>