{% extends 'base.html' %}

{% block content %}

<div class="col-xs-12">
  <h2>Find a retailer near you:</h2>
  <div id="search-by-coords">
    <h4>Automatically search for nearby locations:</h4>
    <form action="#" method="GET" id="lat-long-entry">
      Search range:
          <select name="search-range" id="coords-search-range" required>
          <option value="0.1">0.1 miles</option>
          <option value="0.2">0.2 miles</option>
          <option value="0.3">0.3 miles</option>
          <option value="0.5">0.5 miles</option>
          <option value="0.75">0.75 miles</option>
          <option value="1">1 mile</option>
          <option value="5">5 miles</option>
          <option value="10">10 miles</option>
          <option value="25">25 miles</option>
        </select>
      <input type="submit" value="Search!" id="coords-search">
    </form>
    <div><button type="button" id="toggle-coords-search">Search by address instead</button>
    </div>
  </div>
  
  
  <div id="search-by-address">
    <h4>Search near a specific address:</h4>
    <form action="#" method="GET" id="address-entry">
      Street: <input type="text" id="street" required>
      City: <input type="text" id="city" required>
      State*: <input type="text" id="state" maxlength="2" value="CA" disabled required>
      Search range:
        <select name="search-range" id="addr-search-range" required>
          <option value="0.1">0.1 miles</option>
          <option value="0.2">0.2 miles</option>
          <option value="0.3">0.3 miles</option>
          <option value="0.5">0.5 miles</option>
          <option value="0.75">0.75 miles</option>
          <option value="1">1 mile</option>
          <option value="5">5 miles</option>
          <option value="10">10 miles</option>
          <option value="25">25 miles</option>
        </select>
      <input type="submit" value="Search!" id="addr-search">
    </form>
    <span id="disclaimer">*Search is currently only available in California.</span>
  <div><button type="button" id="toggle-addr-search">Find my location instead</button>
  </div>
  </div>
</div>

<div class="container-fluid">
  <div id='map' class="col-xs-12 col-md-6">
  </div>

  <div id="search-results" class="col-xs-12 col-md-6">
  </div>
</div>

<div id="hidden-loading-icon"><img src="static/img/ajax-loader.gif"></div>


<!-- GMaps: get location -->
<script type="text/javascript" src="static/gmaps.js"></script>

<!-- GMaps: make API call -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap">
</script>

<script type="text/javascript" src="static/search_results.js"></script>
<script type="text/javascript" src="static/yelp_query.js"></script>
<script type="text/javascript" src="static/send_mail.js"></script>
<script type="text/javascript" src="static/send_sms.js"></script>
<script type="text/javascript" src="static/misc_listeners.js"></script>

{% endblock %}
