{% extends 'base.html' %}
{% block head %}
  <style>
      #map {
        height: 600px;
        width: 600px;
      }
  </style>
{% endblock %}

{% block content %}

<h1>EBT/SNAP Finder</h1>

<div id='map'>
</div>

<div>
    <h2>Find a retailer near you:</h2>
        <div>
          <h3>Automatically search for nearby locations:</h3>
          <form action="/search-coords" method="GET" id="lat-long-entry">
           Search range:
                <select name="search-range" id="coords-search-range" required>
                    <option value="0.1">0.1 miles</option>
                    <option value="0.2">0.2 miles</option>
                    <option value="0.3">0.3 miles</option>
                    <option value="0.5">0.5 miles</option>
                    <option value="0.75">0.75 miles</option>
                    <option value="1">1 mile</option>
                    <option value="5">5 miles</option>
                    <option value="10">10 miles</option>
                    <option value="25">25 miles</option>
                </select>
           <input type="submit" value="Search!" id="coords-search">
          </form>
        </div>
        <div>
          <h3>Search near a specific address:</h3>
          <form action="/search-address" method="GET" id="address-entry">
           Street: <input type="text" id="street" required>
           City: <input type="text" id="city" required>
           State (abbrev.): <input type="text" id="state" maxlength="2" required>
           Search range:
                <select name="search-range" id="addr-search-range" required>
                    <option value="0.1">0.1 miles</option>
                    <option value="0.2">0.2 miles</option>
                    <option value="0.3">0.3 miles</option>
                    <option value="0.5">0.5 miles</option>
                    <option value="0.75">0.75 miles</option>
                    <option value="1">1 mile</option>
                    <option value="5">5 miles</option>
                    <option value="10">10 miles</option>
                    <option value="25">25 miles</option>
                </select>
           <input type="submit" value="Search!" id="addr-search">
          </form>
        </div>
  <div id="search-results">
  </div>
</div>

<!-- GMaps: get location -->
<script>
  // Note: This example requires that you consent to location sharing when
  // prompted by your browser. If you see the error "The Geolocation service
  // failed.", it means you probably did not give permission for the browser to
  // locate you.

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 37.7886679, lng: -122.411499},
      zoom: 17
    });
    var infoWindow = new google.maps.InfoWindow({map: map});

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        infoWindow.setPosition(pos);
        infoWindow.setContent('Location found.');
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
  }
</script>

<!-- GMaps: make API call -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap">
</script>

<script type="text/javascript" src="static/search_results.js"></script>

{% endblock %}
