{% extends 'base.html' %}

{% block head %}

<style type="text/css">
body {
  background-image: url(/static/img/fruits-1779695_1920_blur.png);
}
</style>

{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="bs-component">
        <div class="jumbotron">
          <h1>Welcome to SNAPPy Finder</h1>
          <p>SNAPPy Finder is a tool designed to make it easier to find
          information about retailers near you that accept <a href="http://www.fns.usda.gov/snap/" target="_blank">SNAP</a>/<a href="https://www.ebt.ca.gov/" target="_blank">EBT</a> as a form of payment.</p>
          <p>To get started, please pick one of the following options:</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bs-component col-xs-12 col-md-6 col-md-offset-3">
    <div class="btn-toolbar">
      <a href="" class="btn-group btn btn-default btn-lg btn-primary" id="landing-coords-btn">Find my location for me</a>&nbsp;
      <a href="" class="btn-group btn btn-default btn-lg btn-primary" id="landing-addr-btn">Let me search near a specific address</a>
    </div>
  </div>
</div>


<script type="text/javascript" src="static/misc_listeners.js"></script>

{% endblock %}
